/* Weather */

#weather-container {
    height: 100%;
    overflow: hidden;
}

#weather-widget {

    background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);  
    border-radius: 1em;
    width: 100%;
    overflow: hidden;
    overflow-y: hidden; /* hidden vertical scrolling */
    overflow-x: hidden; /* hidden horizontal scrolling */


}



#weather-widget:hover {
    overflow-y: auto; /* Enables vertical scrollbar on hover */
    overflow-x: auto; /* Hides horizontal scrollbar */

}

/* 🔹 Custom Scrollbar Styling (For WebKit Browsers like Chrome, Edge) */
#weather-widget::-webkit-scrollbar {
    width: 8px; /* Width of scrollbar */
}

#weather-widget::-webkit-scrollbar-track {
    background: #ffffff; /* Light gray background */
    border-radius: 10px; /* Rounded edges */
}

#weather-widget::-webkit-scrollbar-thumb {
    background: #888; /* Darker scrollbar color */
    border-radius: 10px; /* Rounded scrollbar */
}

#weather-widget::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker on hover */
}


.weather-icon {
    width: 70px;
    height: 70px;
    margin-left: 0px;
}

#weather-text {
    font-size: 1em;
    text-transform: capitalize;
}

.hourly-forecast {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    
}

.weekly-forecast {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;

}

.extra-info p {
    margin: 0px;
}

.hour p, .week-day p {
    margin: 0px;
}

.hourly-forecast .hour {
    padding-top: 0px;
    font-size: 0.6em;
    text-align: center;
    width: 100%;    
}

.weekly-forecast .week-day {
    padding-top: 0px;
    font-size: 0.6em;
    text-align: center;
    width: 100%; 

}



.hour img {
    width: 40px;
    height: 40px;
}
.extra-info {
    font-size: 12px;
}

.extra-info p {
    text-align: center;
}

.extra-info span#humidity {
    margin: 10px;
}


.week-day {
    text-align: center;
    font-size: 0.6em;
}
.week-day img {
    width: 40px;
    height: 40px;
}



#weather-api-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.element-footer input::placeholder {
    font-size: 0.6em;   
}











