{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>

            {% for stocks in transaction %}
                <tr>
                    <td class="text-start">{{ stocks["Symbol"] }}</td>
                    <td class="text-end">{{ stocks["Shares"] }}</td>
                    <td class="text-end">{{ usd(lookup(stocks["Symbol"])["price"]) }}</td>
                    <td class="text-end">{{ stocks["Transacted"] }}</td>
                </tr>

            {% endfor %}


        </tbody>

    </table>
{% endblock %}
